<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QAliber.TestModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QAliber.TestModel.Properties.Settings>
            <setting name="CentralLogLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDirectoryStructure" serializeAs="String">
                <value />
            </setting>
            <setting name="CentralTestCaseAssembliesLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CentralTestCaseHelpFilesLocation" serializeAs="String">
                <value />
            </setting>
        </QAliber.TestModel.Properties.Settings>
    </userSettings>
</configuration>