<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QAliber.DAL.Properties.Settings.AutomationConnectionString" connectionString="Data Source=ILQHFAATC1WS785\SQLEXPRESS;Initial Catalog=Automation;User ID=AutomationAgentService;Password=letmein" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
